# Ігнорувати середовища Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ігнорувати середовища virtualenv
venv/
env/
ENV/
.venv/
.ENV/

# Ігнорувати конфігураційні файли IDE/редакторів
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ігнорувати файли системи
.DS_Store
Thumbs.db

# Логи та тимчасові файли
*.log
*.tmp
*.swp

# Файли налаштувань Python
*.env
.env

# Ігнорувати файли кешу браузерів
*.cache

# Ігнорувати звіти про помилки та налаштування налагодження
*.stackdump
*.pid
*.out

# Ігнорувати файли блокування пакетів (якщо не потрібні)
poetry.lock
Pipfile.lock

# Ігнорувати тимчасові файли від редакторів
*~
